@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /*It will apply on the whole webpage*/
  /*variable was created to use multiple time*/
  
  --green: #4caf50;
  --black: #130f40;
  --white: #fff;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
}

*{
	margin:0;
	padding:0;
 font-family: "Inter Tight", sans-serif;
 text-decoration: none;
 	list-style:none;
  text-transform: capitalize;
}
.lobster-regular {
  font-family: "Lobster", cursive;
  font-weight: 400;
}

 .nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  color: var(--green) ;
  padding: 5px;
background-color: var(--white);
box-sizing: border-box;
  box-shadow: var(--box-shadow); /*calling previous created variable*/
} 

.navbar-center{
  display: flex;
  justify-content: center;
    position: relative;
}
.navbar-center li {
  position: relative;
  padding: 10px 15px;
}
.navbar-center li a{
  color: var(--green);
  font-size: 20px;
}
/*
#category a span:hover{
		background-color: var(--green);
	color:var(--white);
	padding: 0 5px 0 5px;
} */


.navbar-last{
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.navbar-last p{
  font-size: 23px;
}
.navbar-last div{
	border: 1px solid;
	border-radius:5px;
  font-size: 24px;
  padding: 0 10px 0 10px;
  margin-right: 0.3rem;
   cursor: pointer;
  position: relative;
}
.navbar-last div:hover{
	background-color: var(--green);
	color:var(--white);
}


/* banner section */
.banner{
	display:flex;
	justify-content:space-around;
	align-items:center; 
	padding:30px;
}
.left-banner, .right-banner{
	height:200px;
	width:300px;
	border-radius:10px;
	padding-bottom: 60px;
}
.banner-img{
  width: 100%;
  /*  max-width: 200px; */
  height: auto;
}
.center-banner{
	text-align:center;
	padding:25px 10px 10px;
	}

.btn{
	margin:10px;
	padding: 8px 15px;
	background-color: var(--green);
	color: var(--white);
	border:none;
	border-radius: 5px;
	cursor:pointer;
}
.banner-bg{
background-color: #f3f4f6;
padding-top:50px;
/* overflow: hidden;*/
}


/* dropdown inside banner */
.explore-dropdown {
  position: relative;
  display: inline-block;
}

.explore-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 0;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  z-index: 1000;
}

.explore-dropdown .dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  color: black;
  font-size: 16px;
}

.explore-dropdown .dropdown-menu li a:hover {
  background-color: var(--green);
  color: white;
}

/* Show menu on hover */
.explore-dropdown:hover .dropdown-menu {
  display: block;
}


/*features area*/
.features{
	padding:15px 0;
}
.features h1{
		text-align:center;
		padding: 10px 0;
}
.features .box-container {
  border: 0px solid;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  /*  justify-content:space-evenly;*/
  gap: 20px;
}

.features .box-container .box {
  border: 0px solid red;
  border-radius: 10px;
  padding:10px; 
  background: #fff;
 /* outline: var(--outline); */
  outline-offset: -1rem; /* outline inside*/
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
  box-shadow: 1px 1px 3px 5px var(--green);
}

.features .box-container .box img {
 /* margin: 1rem 0; */
  width:250px;
  height: 200px;
}

.features .box-container .box h3 {
  font-size: 22px;
  line-height: 1.5;
  color: var(--black);
}

.features .box-container .box p {
  font-size: 15px;
 /* line-height: 1.2;*/
  color: var(--light-color);
  padding-bottom: 15px 0;
}

.btn-f {
  border: 0px solid var(--black);
  margin-top: 10px;
  display: inline-block;
  padding:5px 10px;
  font-size: 18px;
  border-radius: 5px;
  color: var(--green);
  cursor: pointer;
  background: none;
}
.btn-f:hover {
  background: var(--green);
  color: var(--white);
}

/*footer*/
.footer{
  display: flex;
  justify-content:space-around;
background-color: var(--green);
 color: var(--white);
 padding: 10px;
  margin-top:  10px;
}
.footer div h1{
	font-size:22px;
  padding-bottom: 15px;
  color: var(--white);
}
.footer div p{
  font-size: 17px;
  padding: 10px 0;
  color: var(--white);
}
.footer div p a{
	color: var(--white);
}
.social{
  padding-bottom: 10px;
}
.social .icon{
  display:  inline-block;
  padding: 0 15px 8px;
  font-size: 20px;
}
.social .icon i{
  padding: 0 6px;
}

.payment-card-list {
  display: flex;
  justify-content: center;
}
.payment-icon {
  height: 35px;
  width: 100%;
  object-fit: contain;
  padding-left: 7px;
}

.copyright{
    background-color: #f4f4f4;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
