@charset "UTF-8";

.card-container{
	    padding:70px 0;
		border: 0px solid;
		display:grid;
	    grid-template-columns: repeat(4, auto);
		gap:25px;
	    justify-content: center;
}
.card{
	border: 1px solid #ddd;
	padding:10px 12px;
	border-radius: 5px;

}
.card .card-img{
		align-items:center;
}
 .card .card-img img{
	height:200px ;
	width:150px;
	border-radius: 5px;
}

.card-info{
	text-align:center;
}

.card:hover{
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

